<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>296007963618-783hr382bvjg828rqo4ck30j112mhunn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.296007963618-783hr382bvjg828rqo4ck30j112mhunn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>296007963618-n6e8u43ld4mj4uau6q72ip7vh98g7gvs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCVhSB1KcCsSTlosR-OpRyCuZI4YH3H3zU</string>
	<key>GCM_SENDER_ID</key>
	<string>296007963618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hellocock.hellocock</string>
	<key>PROJECT_ID</key>
	<string>hellocock-6b1dd</string>
	<key>STORAGE_BUCKET</key>
	<string>hellocock-6b1dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:296007963618:ios:f73f311308313a2bf6dfbb</string>
	<key>DATABASE_URL</key>
	<string>https://hellocock-6b1dd.firebaseio.com</string>
</dict>
</plist>